<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홀리물리 - Chatting Screen</title>
    <style>
        @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
        
        body {
            margin: 0;
            height: 100vh;
            background-color: #3182F6;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logo {
            width: 108px;
            height: 113px;
        }
    </style>
</head>
<body>
    <img src="C:\Users\rabbi\.vscode\Holy-Molly-main\static\img\logo.png" alt="Logo" class="logo">
</body>
</html>
